<% include partials/basicheader %>
<div class="container">
        <div class="row centered-form">

        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Edit User <%= user.firstname %> </h3>
			 			</div>
			 			<div class="panel-body" >
			    		<form role="form" method='post' action='/updateuser'>
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
                      <input type="hidden" name="id"  value='<%= user.id %>' >
                    <div class="form-group">
			                <input type="text" name="firstname" id="first_name" value='<%= user.firstname %>' class="form-control input-sm" placeholder="First Name">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" name="lastname" id="last_name" value='<%=  user.lastname %>' class="form-control input-sm" placeholder="Last Name">
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
			    				<input type="email" name="email" id="email" required value='<%= user.email  %>' class="form-control input-sm" placeholder="Email Address">
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password" id="password"  required class="form-control input-sm" placeholder="Password">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="tel" name="contact" id="password_confirmation"  value='<%= user.contact  %>' class="form-control input-sm" placeholder="Contact">
			    					</div>
			    				</div>
			    			</div>

			    			<input type="submit" value="Edit" class="btn btn-info btn-block">

			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>

<% include /partials/footer %>
